.bg-gradient-primary {
    background-color: #73798c;
    background-image: linear-gradient(180deg, #040710 10%, #220a50 100%);
    background-size: cover;
}
.typical-block {
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #e4e6e9;
}
.payout-history {
    padding: 75px 24px;
    display: block;
}
.typical-block_main {
    padding: 24px;
    border-top: 1px solid #eff0f2;
    border-radius: 0 0 8px 8px;
}
.payout-history_ico {
    width: 48px;
    height: 48px;
    margin: 0 auto 14px auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payout-history_info {
    max-width: 600px;
    margin: 0 auto 22px;
}
.blue-btn {
    background: #3f8efa;
    border-radius: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    width: fit-content;
    padding: 0 40px;
    cursor: pointer;
    height: 40px;
    transition: 0.3s;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.payout-history .blue-btn {
    margin: 0 auto;
}
.blue-btn:hover {
    background: #293a77;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: inherit;
}


.Rating-Text {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 6px;
}

.StatProgress--3X5OQ {
    margin-top: 17px;
    height: 5px;
    position: relative;
    background: #ecf2f9;
    border-radius: 24px;
}

.StatProgress_blue {
    color: #3f8efa;
}
.StatProgress_green {
    color: #5fcd53;
}
.StatProgress__Line--1azwu {
    height: 100%;
    border-radius: 24px;
    background: currentColor;
    transition: width 0.3s ease;
}
.StatProgress__Current--3xbx8 {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: currentColor;
    background: #ffffff;
    border: 2px solid currentColor;
    border-radius: 24px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 0;
    padding: 3px 8px;
    text-align: center;
    white-space: nowrap;
    transition: left 0.3s ease;
    z-index: 1;
}

.Details {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #737e90;
    margin-top: 4px;
    margin-bottom: auto;
}

.icon-transation img {
    filter: saturate(0) brightness(1.35);
    transition: filter 0.3s ease;
}
.my-balance_information__item-title {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #424954;
    text-align: center;
}
.my-balance_information__item-amount {
    margin-right: 3px;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #3d3d3d;
}
.typical-block_title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-right: auto;
}

.task-performer_cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.task-performer {
    background: #FFFFFF;
    border-radius: 8px; 
    padding: 10px 12px 24px 12px;
    position: relative;
    margin-bottom: 24px;
    border: 1px solid #e4e6e9;
}

.task-performer_cover {
    position: relative;
    background: #000000;
    border-radius: 8px;
    overflow: hidden;
    height: 150px;
    margin-bottom: 20px;
}

.task-performer_play {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3B83E5;
    box-shadow: 0px 24px 48px -12px #3B83E5;
    border-radius: 13px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    justify-content: center;
}
.task-performer_play i {
    margin-left: 2px;
    align-self: center;
    vertical-align: middle;
    border-style: none;
}

.task-performer_info {

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.task-performer_type {

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.watch-video-info .watch p{
    font-size: 12px;
    line-height: 16px;
    color: #828C9C;
}
.watch-video-info p{
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #3D3D3D;
}
    flex-direction: column;

}
.textler-about{
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #424954;
    font-weight: 400;

}
.texler-info{
    margin-top: auto;

}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    margin: 0;
    padding: 0;
}
.rows {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 24px;
}

